mixin colorSelector(colorSelected, colors)
	.colorSelector
		h5 Color
			span.colorSelected.label!= colorSelected
		ul.colorList.no-list
			for c in colors
				if c[2]
					li.active(style="background-image: url(/img/pdp/" + c[0] + ")")!= c[1]
				else
					li(style="background-image: url(/img/pdp/" + c[0] + ")")!= c[1]

mixin reveal()
	.revealSection.active
		if block
			.content
				block

mixin sizeSelector(sizes, desktop)
	.sizeSelector
		h5 Size
			span.sizeSelected.label
		if desktop
			.sizeOptions
				a.link.truefit.icon True Fit
				a.link View size chart
		ul.sizeList.no-list
			for s in sizes
				if s == 8.5 || s == 9 || s == 11
					li.disabled!= s
				else
					li!= s
		if !desktop
			.sizeOptions
				a.link.truefit.icon True Fit
				a.link View size chart


mixin pdpButtons(desktop)
	if desktop
		.pdpButtons
			.row.gutter
				.column
					a.btn.btn-full.btn-primary.findInStore.btn-big Find in store
				.column
					a.btn.btn-full.btn-gradient.addToCart.btn-big
						.iconCheck: img(src="/img/pdp/checkW.svg")
						span.label Add to cart

			.shareOptions
				a.link.save.icon Save for later
				a.link.icon.share Share
	else
		.pdpButtons
			a.btn.btn-full.btn-gradient.addToCart.btn-big
				.iconCheck: img(src="/img/pdp/checkW.svg")
				span.label Add to cart
		.pdpButtons
			a.btn.btn-full.btn-primary.findInStore.btn-big Find in store
			.shareOptions
				a.link.save.icon Save for later
				a.link.icon.share Share

mixin input(collect, label, id, value)
	.input
		if collect
			input.collect(type='text', id=id, value=value, placeholder=label)
		else
			input(type='text', id=id, value=value, placeholder=label)
		label(for=id)!= label

mixin check(checked, label, sub)
	- var noSub = 'noSub'
	if sub
		- var noSub = ''
	if checked
		.check.checked(class=noSub)
			p.title!= label
			if sub
				span.sub!= sub
	else
		.check(class=noSub)
			p.title!= label
			if sub
				span.sub!= sub

mixin radio(checked, label, sub)
	if checked
		.radio.checked
			p.title!= label
			if sub
				span.sub!= sub
	else
		.radio
			p.title!= label
			if sub
				span.sub!= sub