mixin buySticky(productName, productPrice)
	.buySticky
		.left
			p.productName!= productName
			p.price $#{productPrice}
		.right
			a.btn.btn-gradient Select sizes


mixin nav(surnav)
	if surnav !== ''
		.surnav.mobile!= surnav
	nav.mobile
		.navContent
			.left
				.icon: img(src="./img/global/ico_search.svg")
				.icon#navBag: img(src="./img/global/ico_bagEmpty.svg")
			.middle
				.brand: img(src="./img/global/ico_brand.svg")
			.right
				.icon Menu
		if block
			block




mixin heroProduct(breadcrumb, productName, productPrice)
	.m-heroProduct
		ul.breadcrumb.no-list
			each b in breadcrumb
				li!= b
		.header.container
			.content
				h1.productName!= productName
				p.price $#{productPrice}
			.reviews: img(src="/img/pdp/reviews.png", width=75)
		.carousel
			.slide: img(src="/img/pdp/beasien_00.png")


mixin overlay()
	.c-overlay.isHidden
		button.u-btn.u-btn--has-custom-focus.o-close-button.u-reset-button(aria-disabled="false" aria-label="Close Shopping bag dialog" data-qa-id="overlay-close-button" type="button")
			span.u-btn__content
				svg.c-icon(aria-hidden="true" fill="currentColor" focusable="false" version="1.1" viewbox="0 0 400 400")
					path(role="presentation" d="M393.1,359.4L233.5,200L393.2,40.5c4.4-4.4,6.8-10.3,6.8-16.6c0-6.3-2.5-12.2-7-16.6c-4.4-4.4-10.6-7-16.8-7c-6.3,0-12.2,2.4-16.4,6.8L200,166.7L40.3,7.3c-4.4-4.4-10.4-6.9-16.7-6.9S11.3,2.8,6.9,7.3c-9.3,9.3-9.2,23.9,0.2,33.2l159.7,159.3L7.1,359.4c-4.5,4.5-7,10.5-7,16.9c0,6.2,2.4,12.1,6.9,16.5c4.4,4.4,10.4,6.9,16.7,6.9c6.2,0,12.1-2.4,16.7-6.9l159.9-159.5l159.5,159.3c4.5,4.5,10.5,7,16.8,7c6.1,0,12.1-2.5,16.4-6.8c4.4-4.4,6.9-10.3,6.9-16.5C400,370,397.6,364,393.1,359.4z")
		block

mixin cart()
	.c-cart-wrapper
		header.c-cart-header.c-cart-header--with-notification.c-cart__header(aria-label="Shopping bag (1)" role="banner")
			h1.c-heading.c-cart-header__title(data-qa-id="cart-header-title")
				span.c-markdown
					| Shopping bag
		#dir
		a.btn.btn-full.btn-primary.btn-big.goToCheckout Checkout
			//- 		span.c-heading__dash-wrap
			//- 			span.c-markdown
			//- 				| (1)
			//- 			span.c-heading__dash(style="margin-left: 8px; width: 48px;")
			//- 	span.c-cart-header__cart-id(data-qa-id="cart-id" data-qa-cart-cart-id-text="true") ID: 267766173
			//- 	p.c-cart-header__notification You spent over $70.00 to qualify for free standard shipping!
			//- main(role="main")
			//- 	.c-cart(data-qa-id="cart-page-shopping-bag")
			//- 		ul.c-product-list.c-cart__list(data-qa-id="product-list")
			//- 			li.c-product-list-item.c-product-list-item--has-border.c-product-list-item--in-drawer(style="height: 265px; padding-bottom: 50px; padding-top: 50px;")
			//- 				.c-cart-item
			//- 					div(data-qa-id="product-component")
			//- 						.c-product-list-item__content-wrapper
			//- 							.c-product-list-item__thumbnail-details-wrapper
			//- 								a.c-product-list-item__thumbnail(title="Cupidd - Price $100.00" href="/us/en_US/Women/Va-va-valentine/Cupidd/p/55777802-62")
			//- 									picture.c-picture.c-picture--is-loaded(data-qa-id="product-thumbnail")
			//- 										//- img(data-sizes="auto" srcset="//media.aldoshoes.com/v2/product/cupidd/62/cupidd_red_62_main_sq_wt_250x250.jpg 250w, //media.aldoshoes.com/v2/product/cupidd/62/cupidd_red_62_main_sq_wt_350x350.jpg 350w, //media.aldoshoes.com/v2/product/cupidd/62/cupidd_red_62_main_sq_wt_500x500.jpg 500w, //media.aldoshoes.com/v2/product/cupidd/62/cupidd_red_62_main_sq_wt_700x700.jpg 700w" alt="Cupidd" role="presentation")
			//- 								.c-product-list-item__details
			//- 									.c-product-list-item__header
			//- 										h2.c-heading.c-product-list-item__product-name(data-qa-cart-item-product-name-label-0="true" data-qa-id="product-name")
			//- 											span.c-markdown(data-id="product-name")
			//- 												| Product Name
			//- 										span.c-product-list-item__final-price(aria-label="Final price: $100.00" data-qa-id="product-final-price") $100.00
			//- 									ul.c-product-list-item__choice-list
			//- 										li.c-product-list-item__choice(data-qa-cart-item-style-label-0="true")
			//- 											span.u-screen-reader-before(data-qa-id="product-style" data-screen-reader-before="Color:") Red
			//- 										li.c-product-list-item__choice(data-qa-cart-item-size-label-0="true" data-qa-id="product-size") Size 6.5
			//- 										li.c-product-list-item__choice(data-qa-cart-item-quantity-label-0="true" data-qa-id="product-quantity")
			//- 											abbr(title="Quantity") Qty.
			//- 											| 1
			//- 									ul.c-product-list-item__edit-actions-list
			//- 										li.c-product-list-item__edit-action
			//- 											button.u-btn.u-btn.c-product-list-item__edit-button.o-list-item__edit-btn(aria-disabled="false" aria-label="Edit item Cupidd" data-qa-id="product-edit-button" type="button" data-qa-cart-edit-item-button-0="true")
			//- 												span.u-btn__content
			//- 													svg.c-icon(aria-hidden="true" fill="currentColor" focusable="false" version="1.1" viewbox="0 0 612 612")
			//- 														path(d="M513.2 21.1c5 0 9.8 2 13.6 5.5l59.8 59.8c7.2 7.7 7.3 19.2.2 26.3l-50.9 50.9-86.3-86.3 50.9-50.9c3.3-3.4 7.9-5.3 12.7-5.3M382.9 143.7l86.3 86.3-299.5 299.7-143.4 57 57.1-143.4 299.5-299.6M513.2 1.1c-9.8 0-19.5 3.7-27 11.2l-65.1 65 114.6 114.6 65.1-65.1c14.9-14.8 14.9-38.9 0-54.4l-60.1-60.1C532.9 4.8 523 1.1 513.2 1.1zM382.9 115.5L68.2 430.2c-1.4 1.4-2.1 2.8-2.8 4.2L1.8 594.3c-1.4 5-.7 10.6 2.8 14.1 2.8 2.2 5.7 3.5 9.2 3.5 1.4 0 2.8 0 4.9-.7l159.9-63.6c1.4-.7 2.8-1.4 4.2-2.8L497.6 230 382.9 115.5z")

			//- 													| Edit

			//- 										li.c-product-list-item__edit-action
			//- 											button.u-btn.u-btn.c-product-list-item__remove-button.o-list-item__edit-btn(aria-disabled="false" aria-label="Remove item Cupidd" data-qa-id="product-remove-button" type="button" data-qa-cart-remove-item-button-0="true")
			//- 												span.u-btn__content
			//- 													svg.c-icon(aria-hidden="true" fill="currentColor" focusable="false" version="1.1" viewbox="0 0 400 400")
			//- 														g(role="presentation")
			//- 															path(d="M200,14c49.7,0,96.4,19.3,131.5,54.5S386,150.3,386,200s-19.3,96.4-54.5,131.5S249.7,386,200,386s-96.4-19.3-131.5-54.5 S14,249.7,14,200s19.3-96.4,54.5-131.5S150.3,14,200,14 M200,0C89.5,0,0,89.5,0,200s89.5,200,200,200s200-89.5,200-200 S310.5,0,200,0L200,0z")
			//- 															polygon(points="100,186.7 100,213.3 300,213.3 300,186.7")

			//- 													| Remove

			//- 										li.c-product-list-item__edit-action
			//- 											button.u-btn.c-favourites-btn(aria-disabled="false" data-qa-id="favourites-btn-55777802-62-false" type="button")
			//- 												span.u-btn__content
			//- 													svg.c-icon.c-favourites-btn__icon.c-favourites-btn__icon--line(aria-hidden="false" aria-labelledby="Save to favourites-icon" fill="currentColor" focusable="false" role="img" version="1.1" viewbox="0 0 400 400")
			//- 														text.c-icon--title(id="Save to favourites-icon") Save to favourites
			//- 														path(role="presentation" d="M353.8,31.5c-20.8-11.2-39.9-15.5-57.2-15.5c-60.1,0-96.8,52.7-96.8,52.7s-36.7-52.7-96.8-52.7c0,0,0,0,0,0l0,14 c21.4,0,42.2,7.7,61.6,22.8c15.1,11.8,23.6,23.8,23.7,23.9l11.5,16.5l11.5-16.5c0.3-0.5,33.1-46.7,85.3-46.7 c16.5,0,33.5,4.7,50.5,13.8c23.6,12.7,36.1,29.6,38.5,51.8c4.4,41.9-27.1,102.7-91,176c-37.4,42.9-76.1,78.5-93.2,93.7 c-17.2-15.1-56.3-50.7-94.2-93.7c-65-73.5-97-134.5-92.7-176.4c2.3-22,14.7-38.8,38.2-51.4c17.1-9.2,34.1-13.8,50.5-13.8l0-14 c-17.2,0-36.4,4.3-57.2,15.5c-161.6,86.9,155.5,352.4,155.5,352.4S515.4,118.4,353.8,31.5z")

			//- 													| Move to favourites

			//- 		.c-cart__summary
			//- 			.c-cart-summary(data-qa-id="cart-summary")
			//- 				h3.c-heading.c-cart-summary__title(data-qa-id="cart-summary-title")
			//- 					span.c-markdown

			//- 						| Shopping bag summary

			//- 				table.o-summary-table(aria-label="Shopping bag summary")
			//- 					tbody
			//- 						tr.o-summary-table__row
			//- 							td.o-summary-table__row-item(data-qa-id="cart-summary-subtotal-currency-code") Subtotal (USD)
			//- 							td(data-qa-id="cart-summary-subtotal-value") $100.00
			//- 				table.o-summary-table.c-cart-summary__shipping-and-taxes
			//- 					tbody
			//- 						tr.o-summary-table__row
			//- 							td#ShippingCalculateLabel(data-qa-id="shipping-label") Shipping
			//- 							td(data-qa-id="shipping-total")
			//- 								.c-form-field-wrapper.c-form-field-wrapper--is-dirty
			//- 									select#ShippingCalculate.c-form-field-select.c-form-field-select--is-inline.c-form-field-select--has-custom-label.c-cart-summary__shipping-calculate(aria-labelledby="ShippingCalculateLabel" data-qa-select="true" name="shippingCalculate" data-qa-cart-summary-open-estimate-shipping-form-button="true" data-qa-id="shipping-options")
			//- 										option(value="") Select method
			//- 										option(value="aldo-ups-standard-net") Standard Free
			//- 										option(value="aldo-ups-express-net") Express: $20.00
			//- 									span.c-form-field-wrapper__label
			//- 				.c-cart-summary-taxes
			//- 					table.o-summary-table(role="presentation")
			//- 						tbody.c-cart-summary-taxes__applied
			//- 							tr.c-cart-summary-taxes__table-header
			//- 								td
			//- 									.c-cart-summary-taxes__title(data-qa-id="cart-summary-taxes-title") Taxes
			//- 								td
			//- 									button.u-btn.c-cart-summary-taxes-calculate.u-link.u-link--underlined.u-link--basic-text(aria-disabled="false" aria-label="Estimated taxes" type="button" data-qa-cart-summary-open-calculate-taxes-form-button="true")
			//- 										span.u-btn__content

			//- 											| Estimate

			//- 				.c-cart-summary-promotion-add
			//- 					button.u-btn.-cart-summary-promotion-add__add-btn.u-link.u-link--underlined.u-link--basic-text(aria-disabled="false" type="button" data-qa-cart-summary-button-open-add-promotion-form="true")
			//- 						span.u-btn__content

			//- 							| Enter promo code

			//- 				table.c-cart-summary-total.o-summary-table
			//- 					tbody
			//- 						tr.o-summary-table__row
			//- 							td.o-summary-table__row-item
			//- 								span.c-cart-summary__total-label(data-qa-id="cart-summary-total-currency-code") Total (USD)
			//- 								span.c-cart-summary__total-description(data-qa-id="cart-summary-total-description") Taxes not yet calculated
			//- 							td.c-cart-summary__price-wrapper
			//- 								span.c-cart-summary__total-price(data-qa-id="cart-summary-total-value") $100.00
			//- 			button.u-btn.u-btn--primary.c-cart__button.c-cart__button--checkout(aria-disabled="false" type="button" data-qa-cart-checkout-link="true")
			//- 				span.u-btn__content

			//- 					| Checkout

			//- 			.c-cart__checkout-buttons
			//- 				div
			//- 				img#paypal-button.c-cart__button-paypal-express.c-paypal-button(data-qa-id="paypal-checkout-button" alt="Paypal" role="link" src="./img/cart/paypal.png" tabindex="0" style="cursor: pointer; transition-property: filter; transition-duration: 0.25s;  width: 150px;")
			//- 				img#VisaCheckoutButton.c-cart__button-visa-checkout.v-button(alt="Visa Checkout" role="link" src="./img/cart/visa.png" tabindex="0" style="cursor: pointer; transition-property: filter; transition-duration: 0.25s;  width: 150px;")

mixin checkout()
	.c-checkout__wrapper.isHidden
		h1 Checkout
